//Import bootstrap variables and mixins 
@import "bootstrap/variables.less";	
@import "bootstrap/mixins.less";	
@import "toolkit/toolbox.less";

//Add custom CSS - http://andrewshen.net/

body{
	background-color: #eee;
	#main{
		padding-left: 0px;
 	 	padding-right: 0px;
	}


	.page-home{
		#panels{

			p{
				color: #666665;
				line-height: 32px;
				font-size: 18px;
				font-weight: 300;

			}

			//Individual Panels
			&> div{
				// padding: 50px 10px 50px 10px; 
			}





			.intro{ 
				margin-top: -50px;

				padding: 150px 10px 350px 10px; 
				background: url(https://c2.staticflickr.com/6/5592/14466706531_9e28621643_h.jpg) no-repeat center center scroll;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;

				min-height: 600px;
				padding-left: 0px;
  				padding-right: 0px;

				text-align: center;
				h2{


				}
				p{

				}


			}

			.discgolf{


				#thesport{
					@media (min-width: @screen-sm-min) {h3{margin-top: 0;}}
				}

				#pdga{

				}


			}

			.players{
				.player{//Player
					padding-bottom: 25px; 
					margin-bottom: 25px;
					background-color: white;
					#material .cards();

					margin: 10px 5px 25px;
					@media (min-width: @screen-sm-min) {margin: 10px 0px 25px;}

					h3{
						padding-left: 20px;
					}

					img{
						margin-top: 5px;
						@media (min-width: @screen-sm-min) {margin-top: 10.5px;}
					
					}					

					p{//Bio

					}
				}
			}

			.about{

			}

			.join{

			}

			.tour{
				//Google Maps styling 
				#tour-map{
					.tourmap-infowindow{
						h3{
							color: #e74c3c; 
							font-weight: bold;
							font-size: 16px;
							margin: 0; 
							padding: 0; 
							@media (min-width: @screen-sm-min) {
								font-size: 26px;
							}
						}

						p{
							
							line-height: 18px;
							font-size: 12px; 
							margin: 0; 
							padding: 0; 
							@media (min-width: @screen-sm-min) {  font-size: 16px; line-height: 30px;}
						}
					}
				}
			}

			.sponsors{
				
				.packages div{
					padding: 5px;
					margin: 0;
				}

				.packages div > div{
					#material .cards();
					border-radius: 1px;
					background-color: #fff;
					text-align: center; 
					margin: 2px;
					padding: 10px; 
					min-height: 600px; 

					//Icons
					.bronze{color: #d35400}
					.silver{color: #bdc3c7}
					.gold{color: #f39c12}

					@media (min-width: @screen-sm-min) {
						font-size: 26px;
					}
				}
			}
		}
	}










	footer{


	}
}


//Additional CSS includes
